{% extends 'dashboard/pages/dashboard_base.html' %}
{% load static %}

{% block tabs %}
<div class="tabs mb-3">
    <a href="?filter=all" class="{% if filter_status == 'all' %}active{% endif %}">All orders</a>
    <a href="?filter=unavailable" class="{% if filter_status == 'unavailable' %}active{% endif %}">Not Available Only</a>
    <button class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#editModal"
        data-url="{% url 'room_create_form' %}">
        Add Room
    </button>
</div>
{% endblock %}

{% block content %}
<table class="table room-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Capacity</th>
            <th>Edit</th>
        </tr>
    </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>
                    {% if room.status == 'available' %}
                        <span>🟢 Available</span>
                    {% else %}
                        <span>🔴 Not Available</span>
                    {% endif %}
                </td>
                <td>{{ room.capacity }}</td>
                <td>
                    <button
                        class="btn btn-sm btn-outline-secondary me-1"
                        data-url="{% url 'room_edit_form' room.id %}"
                        data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        title="Edit"
                        >
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button
                        class="btn btn-sm btn-outline-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        data-url="{% url 'generic_delete' 'room' room.id %}"
                        >
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4"><em>No rooms</em></td>
            </tr>
            {% endfor %}
        </tbody>
</table>

{% include 'dashboard/elements/pagination.html' with page_obj=rooms %}

{% endblock %}