{% extends 'dashboard/pages/dashboard_base.html' %}
{% load static %}

{% block content %}
<div class = "row">
    <!-- left side bar -->
    {% include 'dashboard/pages/setting_sidebar.html' %}
    <!-- right side content -->
    <div class="setting-content col-md-8">
        <!-- User Card -->
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div>
                        <h4> {{ center.center_short_name }}</h>
                        <h5> Name: {{ center.center_full_name }}</h5>
                        <h5> Location: {{ center.center_building_address }}</h5>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- User Information -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Change User Information here</h5>
                <form method="POST" action="{% url 'setting_page' %}">
                    {% csrf_token %}

                    <div class="row mb-3">
                        <div class="col">
                            <label for="user_fullname" class="form-label">User name*</label>
                            <input type="text" name="user_fullname" class="form-control" value="{{ center.user.username }}">
                        </div>
                        <div class="col">
                            <label for="Password" class="form-label">User Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Enter new password">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="center_fullname" class="form-label">Center Full name*</label>
                            <input type="text" name="center_fullname" class="form-control" value="{{ center.center_full_name }}">
                        </div>
                        <div class="col">
                            <label for="shortcut" class="form-label">Center short cut name</label>
                            <input type="text" name="shortcut" class="form-control" value="{{ center.center_short_name }}">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Center Building Address*</label>
                        <input type="text" name="address" class="form-control" value="{{ center.center_building_address }}">
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
