{% extends 'dashboard/pages/dashboard_base.html' %}
{% load static %}

{% block content %}
<div class = "row">
    <!-- left side bar -->
    <div class="setting-side-bar col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Account Setting</h5>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Advance Information</h5>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Tag management</h5>
            </div>
        </div>
    </div>

    <!-- right side content -->
    <div class="setting-content col-md-8">
        <!-- User Card -->
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div>
                        <h6 class="mb-0">Upload a New Photo</h6>
                        <small>Profile-pic.jpg</small>
                    </div>
                </div>
                <button class="btn btn-outline-primary">Update</button>
            </div>
        </div>
        
        <!-- User Information -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Change User Information here</h5>
                <form>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="fullname" class="form-label">User name*</label>
                            <input type="text" id="fullname" class="form-control" value="Tonmoy karmoker">
                        </div>
                        <div class="col">
                            <label for="email" class="form-label">User Password</label>
                            <input type="email" id="email" class="form-control" value="tonmoydesigner@gmail.com">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="fullname" class="form-label">Center Full name*</label>
                            <input type="text" id="fullname" class="form-control" value="Tonmoy karmoker">
                        </div>
                        <div class="col">
                            <label for="email" class="form-label">Center short cut name</label>
                            <input type="email" id="email" class="form-control" value="tonmoydesigner@gmail.com">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Center Building Address*</label>
                        <input type="text" id="address" class="form-control" value="190 Upor Bazar, Natore Sadar, Natore">
                    </div>
                </form>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
{% endblock %}
