{% extends 'dashboard/pages/dashboard_base.html' %}
{% load static %}

<meta name="csrf-token" content="{{ csrf_token }}">


{% block content %}
<div class = "row">
    <!-- left side bar -->
    {% include 'dashboard/elements/setting_sidebar.html' %}
    <!-- right side content -->
    <div class="tag-list-bar col-md-8">
        <div class="tag-custom-container col-md-8">
            <h2 class="mb-3">Tag Management</h2>
            <p> double click to edit tag's name. </p>

            <!-- Tag list -->
            <div id="tag-list" class="d-flex flex-wrap gap-2 mb-3">
                {% for tag in tags %}
                    <span class="tag-pill"
                        data-id="{{ tag.id }}"
                        data-tag="{{ tag.name }}"
                        data-edit-url="{% url 'tag_edit_page' tag.id %}">
                        {{ tag.name }}
                    </span>
                {% endfor %}
            </div>

            <!-- Action buttons -->
            <div class="d-flex gap-2">
                <button id="add-tag-btn"
                        class="btn add-tag-btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        data-url="{% url 'tag_create_page' %}">
                    Add Tag
                </button>
                <button id="bulk-delete-trigger" class="btn btn-delete" disabled>Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const deleteBtn = document.getElementById('bulk-delete-trigger');
    const tags = document.querySelectorAll('.tag-pill');

    function updateDeleteButton() {
        const anySelected = document.querySelectorAll('.tag-pill.selected').length > 0;
        deleteBtn.disabled = !anySelected;
    }

    tags.forEach(tag => {
        // single click -> update into selected and delete button
        tag.addEventListener('click', () => {
            tag.classList.toggle('selected');
            updateDeleteButton();
        });

        // double click -> into edit modal
        tag.addEventListener('dblclick', () => {
            const editUrl = tag.dataset.editUrl;
            const modal = new bootstrap.Modal(document.getElementById('editModal'));
            fetch(editUrl, { headers: { 'X-Requested-With': 'XMLHttpRequest' }})
                .then(res => res.text())
                .then(html => {
                    document.getElementById('editModalBody').innerHTML = html;
                    modal.show();
                });
        });
    });

    updateDeleteButton();
});

</script>


{% endblock %}

{% block delete_form %}
    {% include "dashboard/forms/bulk_delete_form.html" %}
{% endblock %}

<style>
.tag-pill.selected {
    background: #007bff;
    color: white;
}
</style>
