<form class="ajax-edit-form" method="post" 
    action="{% if form.instance.id %}{% url 'tag_edit_page' form.instance.id %}{% else %}{% url 'tag_create_page' %}{% endif %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
            <div class="text-danger small">{{ field.errors }}</div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary px-4">Save</button>
    </div>
</form>