{% extends 'core/base.html' %}
{% load static %}

{% block title %}Resources, at CSM{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/color_patter.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_content.css' %}">
{% endblock %}


{% block content %}
<!-- Hero Image Section -->
<section class="hero-section">
    <div class="bg-overlay"></div>
    <div class="hero-content">
        <div class="hero-left">
            <h1 class="display-3">Resources, <br> at CSM</h1>
            <div class="divider-line"></div>
            <p class="lead">
                Welcome! Here you can find all sorts of important resources offered at College of San Mateo.
            </p>

            <a href="#main-content" class="btn-get-started">Get Started</a>
            <script>
            document.querySelector('.btn-get-started').addEventListener('click', function(e) {
                e.preventDefault(); // 阻止 # 被加到 URL
                document.querySelector('#main-content').scrollIntoView({ behavior: 'smooth' });
            });
            </script>
        
        </div>
        <div class="hero-right"></div>
    </div>
</section>

<!-- Main Content Section -->
<section id="main-content" class="main-content">
    <div class="container">
            <h2 class="fw-bold mt-4">Find It Fast, Use It Well</h2>
            <p class="text-muted">Which resources you want to find today?</p>
            <div class="main-content-div-line"></div>
            <div class="card-container">
                <a href="{% url 'resources-list' %}" class="card-link text-decoration-none">
                    <div class="text-center custom-card">
                        <div class="card-image resource-img mb-4"></div>
                        <h5>Resources</h5>
                        <p class="text-muted">Check what you can borrow </p>
                        <button href="#" class="card-btn">Learn More</button>
                    </div>
                </a>

                <a href="{% url 'rooms-list' %}" class="card-link text-decoration-none">
                    <div class="text-center custom-card">
                        <div class="card-image room-img mb-4"></div>
                        <h5>Meeting Room</h5>
                        <p class="text-muted">Check any available room </p>
                        <button href="#" class="card-btn">Learn More</button>
                    </div>
                </a>

                <a href="{% url 'clubs_table' %}" class="card-link text-decoration-none">
                    <div class="text-center custom-card">
                        <div class="card-image club-img mb-4"></div>
                        <h5>Club Meeting</h5>
                        <p class="text-muted">Check what clubs we have today!</p>
                        <button href="#" class="card-btn">Learn More</button>
                    </div>
                </a>

                <a href="{% url 'tutoring' %}" class="card-link text-decoration-none">
                    <div class="text-center custom-card">
                        <div class="card-image tutor-img mb-4"></div>
                        <h5>Tutoring</h5>
                        <p class="text-muted">Seeking tutor's help</p>
                        <button href="#" class="card-btn">Learn More</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Map Section -->
<section id="main-content" class="main-content">

    
</section>
{% endblock %}