# Virtual environment
# Ignore all env files
env/
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# VSCode / JetBrains editors
.vscode/
.idea/

# MacOS system files
.DS_Store

# Database / migration cache
*.sqlite3
*.log
*.pot

# Django static files
staticfiles/