asgiref==3.8.1
dj-database-url==2.3.0
Django==5.2
gunicorn==23.0.0
numpy==1.26.4
packaging==24.1
pandas==2.2.3
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
