<nav>
    <ul class="pagination justify-content-center custom-pagination">
        {% if page_obj.has_previous %}
        <li class="page-item prev">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item prev disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item next">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item next disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>