body {
    background: var(--sidebar-hover-bg-color);
    font-family: Arial, sans-serif; margin: 0;
}

.content {
    margin-left: var(--sidebar-width);
    padding: 30px;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 15px;
    border: 3px solid white;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.7);
}
.content-container{
    border: 3px solid white;
    border-radius: 12px;
    padding: 30px;
    background-color: rgba(255,255,255,0.7);
}
.topbar p,
.topbar h2 {
    margin: 10px;
}

.status {
    font-weight: bold;
}
.status.pending {
    color: #ff4b5c;
}
.status.dispatch {
    color: #00d97e;
}
.status.completed {
    color: #999;
}
