{% extends 'resources/resource_base.html' %}
{% load static %}

{% block title %}Rooms{% endblock %}


{% block image_url %}
{% with image_path='images/roomtitleimage.jpg' %}
{% endwith %}
{% endblock %}


{% block intro %}
<section class="intro-section">
    <div class="row">
        <div class="image-placeholder">
            <img src="{% static 'images/roomtitleimage.jpg' %}" alt="Rooms" class="img-fluid rounded">
        </div>
    <div class="intro-text">
        <h1>Meeting Rooms</h1>
        <p>
            Explore our selection of reservable meeting spaces across campus centers. Each room includes current availability,
            capacity, and usage restrictions to help you choose the best space for your learning or collaboration needs.
        </p>
    </div>
</div>
</section>
{% endblock %}

{% block map %}
<section class="map-section py-5">
    <div class="container">
        <img src="{% static 'images/schoolmap.jpg' %}" alt="Campus Map" class="img-fluid rounded">
    </div>
</section>
{% endblock %}


{% block search %}
<section class="search-section">
    <form method="get" action="{% url 'rooms-list' %}">
        <div class="container">
            <h2>Search</h2>
            <div class="row justify-content-between align-items-center">
                <div class="col-md-4">
                <label for="search-name" class="form-label">Room Name</label>
                <input type="text" class="form-control" name="name" id="search-name" placeholder="Enter room name" value="{{ request.GET.name }}">
                </div>
                <div class="col-md-4">
                <label for="search-location" class="form-label">Location</label>
                <select id="search-location" class="form-select" name="location">
                    <option value="">All</option>
                    {% for location in locations %}
                    <option value="{{ location }}" {% if request.GET.location == location|stringformat:"s" %}selected{% endif %}>{{ location }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="col-md-4">
                <label for="search-capacity" class="form-label">Capacity</label>
                <select id="search-capacity" class="form-select" name="capacity">
                    <option value="">Minimun capacity</option>
                    {% for capacity in capacities %}
                    <option value="{{ capacity }}" {% if request.GET.capacity == capacity|stringformat:"s" %}selected{% endif %}>{{ capacity }}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <div class="row justify-content-between align-items-center mt-3">
                <div class = "col-auto">
                    <div class = "form-check form-switch">
                        <input
                            type = "checkbox"
                            class = "form-check-input"
                            id = "search-available"
                            name = "available"
                            {% if request.GET.available %}checked{% endif %}
                        >
                        <label for="search-available" class = "form-check-label">Only Show Available</label>
                    </div>
                </div>
                <div class = "col-auto text-end">
                    <button type = "submit" class = "btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block results %}
<section class="results-section container mt-5">
    <div class="table-wrapper">
        <table class="table table-bordered">
        <thead class="table-primary text-center">
            <tr>
            <th>Room Name</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Available</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for room in rooms %}
            <tr>
            <td><strong>{{ room.name }}</strong></td>
            <td>{{ room.location }}</td>
            <td>{{ room.capacity }}</td>
            <td>
                {% if room.status == 'available' %}
                    <span>🟢 Available</span>
                {% else %}
                    <span>🔴 Not Available</span>
                {% endif %}
            </td>
            </tr>
            {% empty %}
            <tr>
            <td colspan="5">No matching rooms found.</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</section>
{% endblock %}