{% extends "clubs/clubs_page.html" %}
{% load static %}
{% block title %}CSM Current Clubs{% endblock %}



{% block content %}

  <div class="club-header">
    <h1 class="club-title">Current Clubs</h1>
  </div>
  

  <div class="table-responsive">
  <table border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Days</th>
        <th>Time</th>
        <th>Location</th>
        <th>Advisor</th>
      </tr>
    </thead>
    <tbody>
      {% for s in sessions %}
        <tr>
          <td>{{ s.name }}</td>
          <td>{{ s.day}}</td>
          <td>{{ s.time }}</td>
          <td>{{ s.location }}</td>
          <td>
          {% for name,email in s.advisor_pairs %}
            <a href="mailto:{{ email }}">{{ name }}</a>{% if not forloop.last %}, {% endif %}
              {% empty %}
                no advisors
          {% endfor %}
          </td>
          </tr>
      {% empty %}
        <tr>
          <td colspan="4"><em>No thats not true</em></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

  {# placeholder explanatory text #}
  <p class="table-explain">
    Bla bla bla bla bla...
  </p>

{% endblock %}
