
{% extends 'core/base.html' %}
{% load static %}
{% load schedule_extras %}

{% block title %}Resources{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'clubs/css/clubstyle.css' %}">
{% endblock %}


{% block content %}
<!-- This is the content block for the resources page -->
<section class = "intro-section">
    <div class = "row">
        <div class="image-placeholder">
            <img src="{% static 'images/titleimage.jpg' %}" alt="resources" class="img-fluid rounded">
        </div>
        <div class = "intro-text">
            <h1>Club</h1>
            <p>
                Description
            </p>
        </div>
    </div>
</section>

<section class = "results-section container mt-5">
        <div class="table-wrapper">
            <table class = "table table-striped">
            <thead>
                <tr>
                    <th scope = "col">Name</th>
                    <th scope = "col">Days</th>
                    <th scope = "col">Time</th>
                    <th scope = "col">Location</th>
                    <th scope = "col">Advisor</th>
                </tr>
            </thead>
            <tbody>
                {% for s in sessions %}
                <tr>
                <td>{{ s.name }}</td>
                    <td>{{ s.day}}</td>
                    <td>{{ s.time }}</td>
                    <td>{{ s.location }}</td>
                    <td>
                    {% for name,email in s.advisor_pairs %}
                        <a href="mailto:{{ email }}">{{ name }}</a>{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            no advisors
                    {% endfor %}
                    </td>
                    </tr>
                {% empty %}
                    <tr>
                    <td colspan="4"><em>No thats not true</em></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}