html, body {
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

#main-content {
    scroll-margin-top: 40px; /* 40px = header height */
}

.main-content {
    padding: 40px;
    background-color: rgb(var(--Beige));
    border-radius: 10px;
}

.main-content h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(var(--Navy-Blue));
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(var(--Frozen-White));
    margin-bottom: 30px;
}

.main-content .main-content-div-line {
    height: 2px;
    background-color: rgb(var(--Navy-Blue));
    margin: 50px 0px;
}