/* static/css/card.css */
/* Custom clickable cards */
.card-link .custom-card {
    background-color: var(--light-blue);
    transition: transform 0.3s ease, border-color 0.3s ease;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 1rem;
  }
  .card-link .custom-card:hover {
    background-color: var(--white);
    border-color: var(--primary-color);
    transform: scale(1.02);
  }
  .card-link .custom-card h5 {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  .card-link .custom-card p {
    font-size: 0.9rem;
    color: var(--black);
  }

  /* Custom clickable card */
