:root {
    --primary-color: SlateBlue;
    --secondary-color: rgb(37.821, 75.798, 198.9);
    --hover-link: rgb(0, 123, 255);
    --light-gray: #ccc;
    --light-blue: #d8edffe1;
    --black: rgba(0, 0, 0, 0.1);
    --background-white: #f8f8f8;
    --border-bottom: #ddd;
    --hover-background: #f1f1f1;
    --dark-blue: #142f5b;
    --footer-color: rgb(201, 201, 201);
    --nearly-white: #ccc;
    --white: white;
    --background-color: #e3f1ff; 

    /* height of your fixed navbar */
    --navbar-height: 80px;

}